*, *::before, *::after {
    margin: 0; /* 外部余白のリセット */
    padding: 0; /* 内部余白のリセット */
    box-sizing: border-box; /* widthやheightなどのサイズ指定をボーダーを含んだサイズで指定できるように変更 */
  }
  
    /* Webページ全体の設定を記載 */
:root { /* htmlを指定した場合と同じような意味合いです */
    /* 書体の設定 */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    /* 日本語の字詰を自動カーニングするように設定 */
    font-feature-settings: "palt";
    /* 標準の文字サイズを指定 */
    font-size: 16pt;
  }



  header .cplog{
    display: flex;
    align-items: start;
    height: 100px;
  }
  
  header .cplog h1 {
    font-weight: normal;
    font-size: 2.5rem;
    flex: 1;
    padding-left: 1rem;
    color: rgb(220, 220, 220);
    margin-top: 20px;
    font-weight: 150;
  }
  
  header .cplog nav ul {
    display: flex;
    font-size: 15px;
  }
  
  header .cplog nav ul li {
    list-style: none;
    padding: 1rem 1rem;
    margin-top: 37px;
    padding-right: 2em;
  }


  .a1 head{
    text-decoration: none;
  }
  .a1,
  .a1:visited {
  color: rgb(220, 220, 220);
  }
  nav a{
    text-decoration: none;
    color: #333;
    }
    
    nav a:hover{
    border-bottom:2px solid #000000;
    }


/*maya*/

.maya01{
    align-items: center;
    margin-top: 6em;
    text-align: center;

}
.ski{
    padding-left: 5px;
    border-left: 3px solid #333333;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    font-family: "ヒラギノ明朝 ProN";
  }
  .ski_bt{
    margin-top: 1em;
    color: #000000;
    font-size: 15px;
    border-radius: 10px;
  }
  .ski {
    width: 700px;
    height: 28px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 35px;
  }


  .ski02{
    padding-left: 5px;
    border-left: 3px solid #333333;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    font-family: "ヒラギノ明朝 ProN";
  }
  .ski02 {
    width: 700px;
    height: 28px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }


  .ski03{
    padding-left: 5px;
    border-left: 3px solid #333333;
    border-bottom: 1px solid #333333;
    font-size: 20px;
    font-family: "ヒラギノ明朝 ProN";
  }
  .ski03 {
    width: 700px;
    height: 28px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
