*, *::before, *::after {
    margin: 0; /* 外部余白のリセット */
    padding: 0; /* 内部余白のリセット */
    box-sizing: border-box; /* widthやheightなどのサイズ指定をボーダーを含んだサイズで指定できるように変更 */
  }
  
    /* Webページ全体の設定を記載 */
:root { /* htmlを指定した場合と同じような意味合いです */
    /* 書体の設定 */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    /* 日本語の字詰を自動カーニングするように設定 */
    font-feature-settings: "palt";
    /* 標準の文字サイズを指定 */
    font-size: 16pt;
  }
  html{
    height: 100%;
  }

  .cplog {
    width: 1000px;
    max-width: 100000%;
    margin: 0 auto;
  }
  
  header{
    display: flex;
    
    height: 100px;
    background-color: #ffffff;
    align-items: center;
   }
  
   header .cplog h1 {
    font-weight: normal;
    font-size: 2.5rem;
    flex: 1;
    padding-left: 1rem;
    margin-top: 3em;
    margin-left: 4em;
    color: #505050;
  }
  
  header .cplog nav ul {
    display: flex;
    font-size: 1.5rem;
  }
  
  header .cplog nav ul li {
    list-style: none;
    padding: 1rem 1rem;
  
  }

    nav ul{
    margin: 0 ;
    padding: 0 ;
    margin-left: 13em;
    }
    nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
    }
    
    nav a{
    text-decoration: none;
    color: #333;
    }
    
    nav a:hover{
    border-bottom:2px solid #000000;
    }

    nav{
        margin-left: 34em;
    }
.a1 head{
    text-decoration: none;
  }
  .a1,
  .a1:visited {
  color: rgb(134, 153, 195)
  }


  /*自己紹介*/

  .boy{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
  }
  .about{
    width: 80%;
    height: 80%;
    font-size:30px;
    margin-left: 10em;
    margin-top: 5em;
    font-weight: 150;
}
.ziko{
    margin-left: 26em;
    margin-top: 0px;


}

.nemu{
    font-weight: 150;

}


.kao{
    margin-top: 20px;
    margin-left: 14em;
}


/*フッター*/
.footer01 {
    color: #ffffff;
    background: #ffffff;
    padding: 30px;
    margin-top: 30em;
   }
   .footer01 a {
    color: #000000;
    text-decoration: none;
   }
   .footer01 a:hover {
    text-decoration: underline;
   }
   .footer01 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 207px;
    
   }
   .footer01 .menu li {
    margin: 1px;
    padding: 0 20px 0 0;
    font-size: 15px;
   }
  

   .flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 640px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .flex .right {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .flex .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
  }
  .flex .text {
    margin: 10px 0 0;
    padding: 0;
  }
  



  .flex-box {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-box img {
    vertical-align: top;
  }
  
  
  
  
  
  .thumnail-right-box {
    width: 30%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .thumnail-right-box li {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 0 0 auto;
  }
  
  .thumnail-right-box li img {
    width: 100%;
    margin: 0 0 auto;
    float:left;
  }