*, *::before, *::after {
    margin: 0; /* 外部余白のリセット */
    padding: 0; /* 内部余白のリセット */
    box-sizing: border-box; /* widthやheightなどのサイズ指定をボーダーを含んだサイズで指定できるように変更 */
  }
  
    /* Webページ全体の設定を記載 */
:root { /* htmlを指定した場合と同じような意味合いです */
    /* 書体の設定 */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    /* 日本語の字詰を自動カーニングするように設定 */
    font-feature-settings: "palt";
    /* 標準の文字サイズを指定 */
    font-size: 16pt;
  }

  
  header .cplog{
    display: flex;
    align-items: start;
    height: 850px;
  }
  
  header .cplog h1 {
    font-weight: normal;
    font-size: 2.5rem;
    flex: 1;
    padding-left: 1rem;
    color: rgb(220, 220, 220);
    margin-top: 20px;
    font-weight: 150;
  }
  
  header .cplog nav ul {
    display: flex;
    font-size: 15px;
  }
  
  header .cplog nav ul li {
    list-style: none;
    padding: 1rem 1rem;
    margin-top: 37px;
    padding-right: 2em;
  }


  .a1 head{
    text-decoration: none;
  }
  .a1,
  .a1:visited {
  color: rgb(220, 220, 220);
  }
  nav a{
    text-decoration: none;
    color: #333;
    }
    
    nav a:hover{
    border-bottom:2px solid #000000;
    }


  header{
    background-image: url("img/IMG_4701.jpeg");
    background-size: cover;
    background-position: center center;
    
  }

  
    .ab{
      width:1000px;
      height: 60px;
      max-width: 100%;
      margin: 0 auto;
     
      font-size: 40px;
      font-weight: 150;
      padding: 1% 0;
      margin-top: 7rem;
      text-align: center;
    }
/*namu*/
    .flex {
    display: flex; /*横並び*/
    width: 1000px;
    height: 1000px;
    max-width: 100%;
    margin: 0 auto;
    }
    .flex{
    align-items: center;
    height: 100px;
    margin-top: 3em;
    padding-left: 5rem;
    }

    .flex .image {
      width: 150px;/*画像サイズ指定*/
      height: 150px;
      margin-left: 1rem;
      padding: 0;
      overflow: hidden;
      position: relative;
    }
    .flex .right {
      margin: 0 0 0 20px;
      padding: 0;

    }
    .flex .title {
      margin: 0;
      padding: 0;
      font-weight: 0;
      margin-left: 10px;
      font-size: 25px;
        
    }
    .flex .text {
      margin: 40px 0 0;
      padding: 0;
      margin-left: 10px;
      font-size: 18px;
      font-family: "ヒラギノ明朝 ProN";
    }
    
.ski{
  margin-top: 5em;
  padding-left: 5px;
  border-left: 3px solid #333333;
  border-bottom: 1px solid #333333;
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN";
}
.ski_bt{
  display: inline-block;
  margin-top: 1em;
  padding: .1em 0.5em;
  color: #ffffff;
  background-color: #333333;
  font-size: 15px;
  border-radius: 10px;
}
.ski {
  width: 750px;
  height: 28px;
  max-width: 100%;
  margin: 0 auto;
  
  margin-top: 35px;
  
}

/*foto*/

.foto{
  width:1000px;
  height: 60px;
  max-width: 100%;
  margin: 0 auto;
     
  font-size: 40px;
  font-weight: 150;
  padding: 1% 0;
  margin-top: 10rem;
  text-align: center;
}

.jpg{
  display: flex; /*横並び*/
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 100px;
  flex-wrap: wrap;
  object-fit: cover;
}
.jpg img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*works*/

.works{
  width:1000px;
  height: 60px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 150;
  padding: 1% 0;
  margin-top: 7rem;
  text-align: center;

}

/*worksスライド*/

.slide_show_slide_in2_link_6{
  position:absolute;
  top: 3rem;
  margin: auto;

}
/*画像大きさ*/
.slide_show_slide_in2_link_6{
	position: relative;
	overflow: hidden;
	width: 60%;
}
.slide_show_slide_in2_link_6:before{
	content: "";
	display: block;
	padding-top: 66%;
}
.slide_show_slide_in2_link_6_1{
	position: absolute;
 
	width: 100%;
	top: 0;
	animation: slide_show_slide_in2_link_6 25s infinite;
}
.slide_show_slide_in2_link_6_2{
	position: absolute;
	width: 100%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(1){
	left: 0%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(2){
	left: 100%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(3){
	left: 200%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(4){
	left: 300%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(5){
	left: 400%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(6){
	left: 500%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(7){
	left: 600%;
}
.slide_show_slide_in2_link_6_2:nth-of-type(8){
	left: 700%;
}
.slide_show_slide_in2_link_6_2 img{
	width:100%;
}
@keyframes slide_show_slide_in2_link_6{
	0%{
		left: -100%;
	}

	13.33%{
		left: -100%;
	}

	16.66%{
		left: -200%;
	}

	30%{
		left: -200%;
	}

	33.33%{
		left: -300%;
	}

	46.66%{
		left: -300%;
	}

	50%{
		left: -400%;
	}

	63.33%{
		left: -400%;
	}

	66.66%{
		left: -500%;
	}

	80%{
		left: -500%;
	}

	83.33%{
		left: -600%;
	}

	96.66%{
		left: -600%;
	}

	100%{
		left: -700%;
	}
}

/*フッター*/
.footer01{
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  

}
.footer01 {
    
    padding: 30px;
    margin-top: 20em;
   }
   .footer01 a {
    color: #000000;
    text-decoration: none;
   }
   .footer01 a:hover {
    text-decoration: underline;
   }
   .footer01 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 1rem;
    
   }
   .footer01 .menu li {
    margin: 1px;
    padding: 0 20px 0 0;
    font-size: 15px;
   }
  

   